[Desktop Entry]
Type=Application
Version=1.0
Name=ferdium
Comment=ferdiumstartup script
Exec=/opt/ferdium-bin/ferdium
StartupNotify=false
Terminal=false