* {
    background:                     #28282899;
    background-alt:                 #363836;
    foreground:                     #E8DBB2;
    border:               			#d79921ff;
    border-alt:               		#F3B69Eff;
    selected:               		#83a598ff;
    urgent:                         #DA4453FF;
}
